@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: rgb(39 39 42);
  color: #d4d4d8;
  /*font-family: 'Ubuntu', Arial, sans-serif;*/
  font-family: 'Times New Roman', serif;
}

*,
:after,
:before {
  box-sizing: border-box;
  border-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

a {
  display:inline-block;
  color: rgb(234 179 8);
  background-color: transparent;
  text-align: center;
  padding: 0px 1px;
  text-decoration: none;
}
a:hover,
a:focus{
  text-decoration: none;
  color: rgb(253 224 71);
  outline: 2px solid transparent;
  outline-offset: 2px;
}
article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      main,
      menu,
      nav,
      section,
      summary {
        display: block;
      }
      audio,
      canvas,
      progress,
      video {
       display: inline-block;
      }
      progress {
          vertical-align: baseline;
      }
      b,
      strong {
          font-weight: 800;
      }
      dfn {
          font-style: italic;
      }
      small {
          font-size: 0.875rem;
          line-height: 1.25rem;
      }
      mark {
          background-color: rgb(63 63 70);
          color: rgb(212 212 216);
      }
      sub,
      sup {
         font-size: 0.75rem;
         line-height: 1rem;
          position: relative;
          vertical-align: baseline;
      }
      sub {
          bottom: -0.25rem;
      }
      sup {
          top: -0.5rem;
      }
      img {
          max-width: 28rem;
          margin: 0 0 1.25rem 0;
          padding:0;
      }
      code,
      kbd,
      pre,
      samp {
          font-family: monospace;
          font-size: medium;
      }
      figure {
          margin: 0 0 1.25rem 0;
          padding: 0;
      }
      hr {
          box-sizing: content-box;
          margin-bottom: 1rem;
          height: 1px;
          background-color:rgb(212 212 216)
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        margin: 0;
      }
      optgroup {
        font-weight: bold;
    }
    button,
      input {
          overflow: visible;
          border-width: 0px; 
          padding: 0.5rem;
      }
      button,
      select {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
      fieldset {
          border: 1px solid rgb(24 24 27);
          margin-bottom: 1.25rem ;
          padding: 0.375rem 0.625rem 0.75rem 0.625rem;
      }
      legend {
          max-width: 100%; 
          padding:0; 
          table-layout: auto;
          white-space: normal;
      }
      textarea {
          overflow: auto;
      }
      h1 {
        margin: 0 0 1.5rem 0; 
        padding: 0; 
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight:bold; 
        font-size: 2.25rem;
        line-height: 2.5rem;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
      }
      h2 {
          margin-bottom: 1.25rem ;
          font-weight: bold; 
          font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
          font-size: 1.875rem;
          line-height: 2.25rem;
          padding: 0;
          -webkit-font-smoothing: auto;
          -moz-osx-font-smoothing: auto;
      }
      h3 {
        margin-bottom: 1.25rem ;
        font-weight: bold; 
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 0;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto; 
      }
      h4 {
        margin-bottom: 1.25rem;
        font-weight: bold; 
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding: 0;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto; 
      }
      h5 {
        margin-bottom: 1.25rem;
        font-weight: bold; 
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding: 0;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto; 
      }
      h6 {
        margin-bottom: 1.25rem;
        font-weight: bold; 
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto; 
      }
      hgroup {
        margin: 0 0 1.25rem 0;
        padding:0;
    }
    ul {
          margin: 0 0 1.25rem 0;
          list-style-type: disc; 
          list-style-position: outside;
      }
      ol {
        margin: 0 0 1.25rem 1.25rem;
        list-style-position: outside;
        list-style-type: decimal;
      }
      dl,
      dd,
      p {
          margin-bottom: 1.25rem;
      }
      pre {
        margin-bottom: 1.25rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        border-radius: 0.25rem; 
        padding: 1.25rem;
    }
    table {
        margin-bottom:1.25rem;
        width: 100%;
        font-size: medium;
    }
    blockquote {
        margin: 0 1.25rem 1.25rem 1.25rem;
    }
    form,
    iframe,
    address {
        margin-bottom: 1.25rem;
    }
    b,
    strong,
    dt,
    th {
        font-weight: bold;
    }
    li {
        margin-bottom: 0.5rem;
        margin-left: 0;
        margin-right: 0.5rem;
    }
    li > ol {
        margin:1.25rem 0 0.5rem 1.25rem;
    }
    li > ul {
        margin: 1.25rem 0 0.5rem 1.25rem;
    }
    li > p {
        margin-bottom: 0.5rem;
    }
    details {
        margin-bottom: 0.75rem;
    }
   details > summary {
       cursor: pointer;
       color: rgb(212 212 216);
       background-color: rgb(39 39 42);
       min-width: max-content;
       padding: 0.25rem 0.5rem;
   }
      
::-webkit-scrollbar {
  width: 2px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #424242;
  outline: 0px solid #424242;
}
